.navbar-collapse .nav-link {
    font-size: 1 rem;
    transition: all 0.2s ease-in-out;
    color: #d6d6d6;
}

.navbar-collapse .nav-link:hover {
    color: #ee1515;
    border-bottom: 3px solid red;
}

.nav-link {
    font-family: "Rajdhani", sans-serif;
}

.navbar-collapse .nav-link.active {
    color: yellow;
    border-bottom: 3px solid red;
}