.dropdown {
    font-size: 0.875em !important;
    font-family: Lato !important;
    color: #00303f !important;
    height: 25px !important;
    background: transparent !important;
    padding: 3px 6px !important;
    border-radius: 3px !important;
    border: 1px solid lightgray;
}

mat-form-field {
    display: block;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px !important;
}

mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}

mat-form-field {
    display: block;
}

.bordered {
    background-color: blueviolet;
}

.login {
    background-color: blueviolet;
    width: 100%;
    height: 100%;
}

.jumbotron {
    margin-top: 20%;
}


/* ::ng-deep .mat-form-field-flex {
    border: 1px solid #d6d6d6;
    border-radius: 5px;
} */

::ng-deep .mat-form-field-underline {
    border: none;
}